# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6
print(number)

6

##### Assinging float

In [5]:
number_float = 2.3
print(number_float)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [11]:
num1 = 2
num2 = 5.4

result = num1 + num2
print(result)

#shorthand version

result += 2
print(result)

7.4
9.4

##### Subtraction

In [16]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [20]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [23]:
result_div = num2 / num1
print(result_div)

result_div /= 2
print(result_div)

2.7
1.35

##### Floor Division

In [25]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [27]:
result_mod = num2 % num1
print(result_mod)

result_mod %= 2
print(result_mod)

1.4000000000000004
1.4000000000000004

##### Exponential

In [29]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [30]:
name = "Joel"
print(name)

Joel

##### print() <br>
<p>Don't forget about end=' '</p>

In [31]:
print("Full Name: ", name, end= "Carter")

Full Name:  JoelCarter

##### String Concatenation

In [37]:
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

full_name += " Jr"
print(full_name)

John Smith
John Smith Jr

##### Type Conversion

In [39]:
number = '34'
change_type_num = int(number)
print(change_type_num + 2)

36

##### input()

In [44]:
age = int(input("What is your age? "))
add_age = age + 1
print(add_age)

What is your age? 31
32

##### format()

In [48]:
age = input("What is your age?: ")
name = input("What is your name?: ")

# format function syntax
result_string = "You are {} {} and you are getting wiser!".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life."
print(result_again)

What is your age?: 31
What is your name?: William
You are 31 William and you are getting wiser!
31 is a great time in life.

##### Old Way (python 2)

In [50]:
age = input("How old are you?: ")
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

How old are you?: 31
You are 31 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [64]:
color = input("Color?: ")
year = input("Year?: ")
model = input("Model?: ")
print("The car's color is {}, the car's year is {} and the model is {}.".format(color, year, model))
print(f"The car's color is {color}, the car's year is {year} and the model is {model}.")
print("The car's color is %s, the car's year is %s and the model is %s." % (color, year, model))

Color?: white
Year?: 2016
Model?: Leaf
The car's color is white, the car's year is 2016 and the model is Leaf.
The car's color is white, the car's year is 2016 and the model is Leaf.
The car's color is white, the car's year is 2016 and the model is Leaf.

### If Statements

In [67]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10

if num2 == num1:
    print("Equal Values")
else:
    print("Not Equal")
    
# second example
if num2 >= num1:
    print("Num 2 is greater.")
else:
    print("Num 2 is less than Num 1.")

Not Equal
Num 2 is greater.

##### 'is' keyword

In [81]:
# use to check for same/similar object(s), not always the same value.

num3 = 55
#if num3 == 55:
 #   print("This is the exact number/object.")
if type(num3) == int:
    print("Is an int.")
else:
    print ("Not a clear INT")

Is an int.

##### 'in' keyword

In [82]:
# check if char is in name
char_name = "Max Payne"
if "Max" in char_name:
    print("The character who lost everything...")
else:
    print("Never heard of that guy.")

The character who lost everything...

##### 'not in' keyword'

In [84]:
saga_char = "Sonic"
if "a" not in saga_char:
    print("\"a\" is NOT here...")

"a" is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [92]:
word = input("Enter a word: ")
print("The letter p is in your word." if "p" in word.lower() else "The letter p is not in your word.")

Enter a word: Panama
The letter p is in your word.

## Using 'and'/'or' with If Statements

In [98]:
num_4 = 15
num_5 = 3
num_6 = 10
num_7 = 3

if num_4 / 5 == num_5 and num_6 - 7 == 3:
    print("True AND True")
    
if num_4 / 5 == num_5 or num_6 - 7 == 3:
    print("True OR True")

True AND True
True OR True

### Elif Statements

In [99]:
first_name = "Max"
if first_name == "Smith":
    print("The name is Smith.")
elif first_name != "Max":
    print("The name is NOT Max.")
else:
    print("The name IS Max.")

The name IS Max.

### Else Statements

In [ ]:
# see above

### For Loops

In [101]:
# for keyword, counter, in keyword, condition

# for i in range(10):
#    print(i)

name = "Joel Carter"

for letter in name:
    print(letter)
print('\n')

for letter in range(len(name)):
    print(name[letter])

J
o
e
l

C
a
r
t
e
r


J
o
e
l

C
a
r
t
e
r

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [102]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [103]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass # todo: come back and finish implementation

##### Double For Loops

In [105]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [107]:
num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [108]:
game_over = False

while True:
    print("infinite loop")
    if game_over == False:
        break

infinite loop

##### While & For Loops Used Together

In [111]:
for i in range(2):
    print("For Loop Iteration: " + str(i))
    num = 0
    while num < 5:
        print("\n While Loop Iteration: " + str(num))
        num += 1

For Loop Iteration: 0

 While Loop Iteration: 0

 While Loop Iteration: 1

 While Loop Iteration: 2

 While Loop Iteration: 3

 While Loop Iteration: 4
For Loop Iteration: 1

 While Loop Iteration: 0

 While Loop Iteration: 1

 While Loop Iteration: 2

 While Loop Iteration: 3

 While Loop Iteration: 4

### Built-In Functions

##### range()

In [112]:
# Range parameters (start, stop, step)
for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [ ]:
# checks length of variable or iterable value

##### help()

In [ ]:
help()

Welcome to Python 3.8's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.8/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

##### isinstance()

In [113]:
# check a variable to find out what object family it belongs to
# isinstance(var,type)
if isinstance(4.5,float):
    print("This number is a float type.")

This number is a float type.

##### abs()

In [114]:
print(abs(-5))

5

### Try and Except

In [116]:
try:
    number_test = 0
    input_num = int(input("Guess a number: "))
    if input_num != number_test:
        input_num = input_num + num_test
        print("Your number is ") + str(input_num)
except:
    print("That doesn't work... Change your input to a REAL number/integer.")

SyntaxError: invalid syntax (<ipython-input-116-6047344e3bbb>, line 10)

### Lists

##### Declaring Lists

In [117]:
l_1 = []

names = ['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']

##### Indexing a List

In [124]:
# [start, stop, step]

# single index
print(names[0])

#Print starting at index 1 through the end
print(names[1:])

# Print starting at the beginning of the list until N is reached (N == the number we want to stop with)
print(names[:2])

# Print starting at index 1 going UP by two in each iteration
print(names[1::2])

# Print starting at the second to last name until the second name, going in reverse order
print(names[-2:-5:-1])

Max
['Cindy', 'Kathy', 'Bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'Bob']
['Bob', 'Kathy', 'Cindy']

##### .append()

In [125]:
names.append("Joel")
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate', 'Joel']

##### .insert()

In [126]:
names.insert(3, "Gabby")
print(names)

['Max', 'Cindy', 'Kathy', 'Gabby', 'Bob', 'Nate', 'Joel']

##### .pop()

In [136]:
# defaults to the last value if no parameter is given

['Cindy', 'Bob']
Bob


##### .remove()

In [138]:
names.append('Bob')
print(names)

# Remove all instances of 'Bob'
while 'Bob' in names:
    names.remove('Bob')
print(names)

['Cindy', 'Bob', 'Bob']
['Cindy']

##### del()

In [143]:
names = ['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']
del(names[1])
print(names)

['Max', 'Kathy', 'Bob', 'Nate']

##### Concatenating Two Lists

In [145]:
# This brings two lists together
l_2 = [0, 1, 2]
l_3 = [3, 4, 5]
print(l_2 + l_3)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [147]:
names = ['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Steph']]
print(names)
print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Steph']]
Sue

 ###Looping Through Lists

In [148]:
# Loop with a for loop (by index)
for i in range(len(names)):
    print(names[i])

# loop with a for lop using the "in" keyword:
for i in names:
    print(i)

Max
Sam
Josh
['Sally', 'Sue', 'Steph']
Max
Sam
Josh
['Sally', 'Sue', 'Steph']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [2]:
print([i ** 3 for i in range(1,10)])

[1, 8, 27, 64, 125, 216, 343, 512, 729]

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [30]:
#Solution 1

primes = []
for i in range (2, 101):
    factors = []
    for n in range(1, i + 1):
        if i % n == 0:
            factors.append(n)
    if len(factors) <= 2:
        primes.append(i)
print(primes)

#Solution 2

primes = [2, 3, 5, 7]
primes += [i for i in range(8,101) if i % 2 != 0 if i % 3 != 0 if i % 5 != 0 if i % 7 != 0]
print(primes)

#Solution 3

from math import sqrt

prime = True
num = 3
primes = [2]

while num < 101:
    for i in range (2, int(sqrt(num)) + 1):
        if num % i == 0:
            prime = False
            break
        elif num % i != 0:
            prime = True
    if prime == True:
        primes.append(num)
    num += 1
    
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

## Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [25]:
age = int(input("What is your age?: "))
if age < 18:
    print("kids")
elif age <= 65:
    print("adults")
else:
    print("seniors")

What is your age?: 55
adults

# Extra Practice

## Exercise 1

<p> Create a while loop that displays the names of the 30th to the 44th President - Hint create a list first <p>

In [8]:
pres = ["Calvin Coolidge", "Herbert Hoover", "Franklin D. Roosevelt", "Harry S. Truman", "Dwight D. Eisenhower", "John F. Kennedy", "Lyndon B. Johnson", "Richard Nixon", "Gerald Ford", "Jimmy Carter", "Ronald Reagan", "George H. W. Bush", "Bill Clinton", "George W. Bush", "Barack Obama"]
while len(pres) > 0:
    print(pres.pop(0))

Calvin Coolidge
Herbert Hoover
Franklin D. Roosevelt
Harry S. Truman
Dwight D. Eisenhower
John F. Kennedy
Lyndon B. Johnson
Richard Nixon
Gerald Ford
Jimmy Carter
Ronald Reagan
George H. W. Bush
Bill Clinton
George W. Bush
Barack Obama

## Exercise 2

<p> Write a loop to multiply all the numbers in a list. Sample List : [1, 2, 3, -4] Expected Output : -24
<p>

In [12]:
list = [1, 2, 3, -4]
product = 1
for i in range (0, len(list)):
    product *= list[i]
print(product)

-24

## Exercise 3

In [14]:
star = "*"
while len(star) <= 5:
    print(star)
    star += "*"

*
**
***
****
*****

## Exercise 4

In [19]:
def add_it_up(i):
    sum = 0
    for n in (range(i + 1)):
        sum += n
    return sum
add_it_up(10)

55